name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    # - name: Build
    #   run: cargo build --verbose
    # - name: Run tests
    #   run: cargo test --verbose
    - name: Format
      run: cargo fmt
    - name: Store to repo
      run: |
        git config --global user.name "onion108"
        git config --global user.email "zzy20080201@qq.com"
        git add .
        git commit -m "[chore] auto-format by workflow"
        git push
